@import '../../styles/variables.scss';

._wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: white;
  box-shadow: $header-box-shadow;
  z-index: 1000;

  ._inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}