@import '../../../styles/variables.scss';

.banner {
  background-color: rgba(#FF2A23, 0.1);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $base * 27;       // 135 px

    .logo__img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.35;

    span {
      color: #F73232;
    }
  }
}

.description {

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.225;
    letter-spacing: .04em;
  }

  & > p {
    width: 100%;
    max-width: $base * 165;   // 825 px
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
  }

  & strong,
  & b {
    font-weight: 600;
  }
}

.todo {

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.225;
  }

  &__list {
    margin-bottom: 0;
    padding-left: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.7;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: $base * 14;    // 70 px
    }

    .item__text {
      width: 100%;
      max-width: $base * 203; // 1015 px
    }

    .item__img {
      position: relative;
      width: 100%;

      .img__img {
        position: relative !important;
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 52%;
  left: 0;
  width: 100%;
}

.result {

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.225;
  }

  &__text {
    width: 100%;
    max-width: $base * 111;   // 555 px
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.7;
  }
}


@media screen and (max-width: 767px) {

  .banner {

    &__inner {
      flex-direction: column;
    }

    &__title {
      font-size: 2rem;
    }

    &__logo {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 575px) {

  .arrow {
    display: none;
  }
}