@import '../../styles/variables.scss';

._wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  ._photo {
    position: relative;
    width: 100%;
    max-width: $base * 51;        // 255 px
    height: 100%;
    max-height: $base * 52;       // 260 px
    margin-bottom: $base * 3;     // 15 px
    border-radius: 50%;
    overflow: hidden;

    .photo__img {
      position: relative !important;
      object-fit: contain;
    }
  }

  ._name {
    margin-bottom: $base * 2;     // 10 px
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .07em;
    text-align: center;
  }

  ._mainRole,
  ._roles {
    font-size: .9375rem;
    line-height: 1;
    letter-spacing: .07em;
  }

  ._mainRole {
    font-size: .9375rem;
  }

  ._roles {
    margin-top: $base;
    font-size: .875rem;
  }
}