@import '../../styles/variables.scss';

.submit-modal {
  border: 2px solid transparent;
  border-radius: 0;
  padding: $base * 5;           // 25 px

  &.success {
    border-color: $c-success;
  }

  &.error {
    border-color: $c-danger;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & > * {
      margin: 0;
      padding: 0;
    }
  }
}