@import '../../styles/variables.scss';

.member {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    position: relative;
    margin-bottom: $base * 3;     // 15 px
    border-radius: 50%;
    overflow: hidden;

    .photo__img {
      width: 100%;
      max-width: 255px;
      height: auto;
      object-fit: cover;
    }
  }

  &__name {
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .07em;
    margin-bottom: $base * 2;     // 10 px
    text-align: center;
  }

  &__mainRole,
  &__roles {
    font-size: .875rem;
    line-height: 1.1;
  }

  &__mainRole {
    font-weight: 600;
    margin-bottom: 3px;
  }
}