@import '../../styles/variables.scss';

.form {
  position: relative;

  &__title {
    margin-bottom: $base * 6;    // 30 px
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.225;
    letter-spacing: .04em;
  }

  &__contacts {
    width: 100%;
    max-width: $base * 146;      // 730 px
    margin-bottom: $base * 10;   // 50 px
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.454;
    letter-spacing: .07em;

    .contacts__link {
      color: $c-info;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: $c-light;
      }
    }
  }

  &__questions {
    list-style-type: none;
    padding-left: 0;

    .questions__item {
      display: flex;
      flex-direction: column;

      .item__title {
        margin-bottom: $base * 2;   // 10 px
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: .07em;
      }

      .item__text {
        color: $gray-600;
        font-size: .9375rem;
        line-height: 1.45;
        letter-spacing: .07em;
      }
    }

    .questions__item + .questions__item {
      margin-top: $base * 8;               // 40 px
    }
  }

  &__text {
    width: 100%;
    max-width: 410px;
    line-height: 1.25;
    letter-spacing: .07em;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    padding-left: $base * 7;  // 35 px

    .checkbox__input {
      flex-shrink: 0;
      margin-top: 0;
      margin-right: $base * 4;  // 20 px
      cursor: pointer;
    }

    .checkbox__label {
      width: 100%;
      max-width: $base * 84;     // 420 px
      font-size: .875rem;
      font-weight: 500;
      line-height: 1.45;
      letter-spacing: .07em;
      user-select: none;

      & > a {
        text-decoration: underline;

        &:hover {
          color: black;
        }

        &:active {
          color: #b0b0b0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .form {

    &__title {
      text-align: center;
    }

    &__questions {
      margin-bottom: $base * 6;    // 30 px
      padding-left: 0;

      .questions__item {
        & + & {
          margin-top: $base * 4;   // 20 px
        }
      }
    }

    &__checkbox {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 575px) {

  .form {

    &__title {
      font-size: 1.8rem;
    }

    &__questions {

      .questions__item + .questions__item {
        margin-top: $base * 6;     // 30 px
      }
    }
  }

}