@import '../../../styles/variables.scss';

.header {
  margin-bottom: $base * 6;  // 30px

  &__inner {
    width: 100%;
    max-width: $base * 165;  // 825px
  }

  &__title {
    margin-bottom: $base * 6;  // 30px
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: .04em;
  }

  &__description,
  &__stack {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &__description {
    margin-bottom: $base * 4;  // 20px
  }

  &__stack > b {
    font-weight: 500;
  }

  @media (max-width: 375px) {

    &__title {
      text-align: center;
    }

    &__description,
    &__stack {
      font-size: initial;
    }
  }
}

.pagespeed {
  margin-bottom: $base * 10;  // 50px

  &__text {
    width: 100%;
    max-width: $base * 165;  // 825px
    margin-bottom: $base * 2;  // 10px
    font-weight: 700;
    line-height: 1.25;
  }

  &__img {
    width: 100%;
  }
}

.mobileView {
  margin-bottom: $base * 10;  // 50px

  &__img {
    width: 100%;
  }
}

.horizontal {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto $base * 10;

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__img {
    flex-shrink: 0;
  }
}

.summary {

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: .04em;
    margin-bottom: $base * 12;
  }

  &__dates {
    display: flex;
    margin-bottom: $base * 8;  // 40px

    .dates__group {
      display: flex;
      flex-direction: column;

      &:nth-of-type(2) {
        margin-left: 8px;
      }

      &:nth-of-type(3) {
        margin-left: $base * 5;
      }
    }

    .dates__label {
      font-weight: 700;
      line-height: 1.25;
    }

    .dates__value {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: .04em;
    }
  }

  &__timeline {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    line-height: 1.25;

    .timeline__total {
      width: 100%;
      margin-bottom: $base * 3;
    }

    .timeline__item {
      position: relative;
      flex-grow: 0;
      flex-shrink: 1;
      margin-bottom: $base * 14;  // 70px
      padding: $base $base * 4 0 8px;
      width: fit-content;
      min-width: $base * 20;  // 100px
      max-width: $base * 42;  // 210px
      border-top: 1px solid $c-primary;

      &:before {
        content: '';
        position: absolute;
        inset: 0 0 auto auto;
        width: 100%;
        height: $base * 4;  // 20px
        background: transparent;
        border: 1px solid $c-primary;
        border-top: 0;
        border-bottom: 0;
      }

      &:first-of-type:before {
        border: 0;
        border-left: 1px solid $c-primary;
        height: $base * 7;  // 35px
      }

      &:last-of-type:before {
        border: 0;
        border-right: 1px solid $c-primary;
        height: $base * 6;  // 30px
      }
    }
  }

  &__team {
    margin-bottom: $base * 30;  // 150px

    .team__title,
    .member__role {
      font-weight: 700;
      line-height: 1.25;
    }

    .team__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: $base * 5;  // 25px
      column-gap: $base * 10;  // 50px
      list-style: none;
      width: fit-content;
      max-height: $base * 37;  // 185px
      margin-top: $base * 5;  // 25px
      padding: 0;
    }

    .team__member {
      display: flex;
      flex-direction: column;
    }

    .member__name {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.25;
    }
  }
}