@import '../../styles/variables.scss';

.banner {
  position: relative;
  height: $base * 120;           // 600 px

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    // padding-top: $base * 19;     // 95 px
    // padding-bottom: $base * 9;   // 45 px
  }

  &__header {
    display: flex;
    align-items: flex-end;
    height: 50%;
  }

  &__logo {
    position: relative;
    width: 100%;
    max-width: $base * 127;      // 635 px

    .logo__img {
      position: relative !important;
      width: 100% !important;
      height: auto !important;
    }
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .045em;
  }
}

@media screen and (max-width: 991px) {

  .banner {
    height: $base * 100;    // 500 px

    &__header {
      height: 40%;
    }
  }
}

@media screen and (max-width: 767px) {

  .banner {

    &__description {
      font-size: 1.25rem;
    }
  }
}