@import '../../styles/variables.scss';

.logo {
  width: fit-content;
  height: fit-content;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo__img path {
      transition: fill .15s ease-in-out;
    }

    &:hover > .logo__img path:nth-child(3) {
      fill: $c-success;
    }

    &:active > .logo__img path:nth-child(3) {
      fill: $c-primary;
    }
  }
}