@import '../../styles/variables.scss';

._wrapper {
  width: fit-content;
  height: fit-content;

  ._link {
    display: flex;
    align-items: center;
    justify-content: center;

    ._img path {
      transition: fill .15s ease-in-out;
    }

    &:hover > ._img path:nth-child(3) {
      fill: $c-success;
    }

    &:active > ._img path:nth-child(3) {
      fill: $c-primary;
    }
  }
}