@import '../../styles/variables.scss';

._wrapper {
  margin-top: auto;
  background-color: white;
  box-shadow: $footer-box-shadow;

  ._legal {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-line: underline;
  }

  ._copyright {
    font-size: .875rem;
    white-space: nowrap;
  }

  ._contact {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: right;

    ._contact_title {
      font-size: .875rem;
      line-height: 1.215;
      letter-spacing: .045em;
      margin-bottom: $base * 2;  // 10 px
    }

    ._contact_link {
      color: $c-primary;
      font-weight: 500;
      line-height: 1.25;
      white-space: nowrap;
      transition: color .15s ease-in-out;

      &:hover {
        color: $c-info;
      }
    }
  }

  ._contact + ._contact {
    margin-left: $base * 8;      // 40 px
  }
}

@media screen and (max-width: 767px) {

  ._wrapper {

    ._contact {
      text-align: center;
    }
  }
}

@media screen and (max-width: 575px) {

  ._wrapper {

    ._contact {
      width: 100%;
      text-align: right;

      ._contact_link {
        font-size: .875rem;
      }
    }

    ._contact + ._contact {
      margin-top: $base * 2;    // 10 px
      margin-left: 0;           // 40 px
    }
  }
}
