@import '../../styles/variables.scss';

.footer {
  margin-top: auto;
  background-color: white;
  box-shadow: $footer-box-shadow;

  &__legal {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-line: underline;
  }

  &__copyright {
    font-size: .875rem;
    white-space: nowrap;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: right;

    & + & {
      margin-left: $base * 8;      // 40 px
    }

    .group {

      &__title {
        font-size: .875rem;
        line-height: 1.215;
        letter-spacing: .045em;
        margin-bottom: $base * 2;  // 10 px
      }

      &__link {
        color: $c-primary;
        font-weight: 500;
        line-height: 1.25;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .footer {

    &__group {
      text-align: center;
    }
  }
}

@media screen and (max-width: 575px) {
  
  .footer {

    &__group {
      width: 100%;
      text-align: right;

      & + & {
        margin-top: $base * 2;    // 10 px
        margin-left: 0;           // 40 px
      }

      .group {

        &__link {
          font-size: .875rem;
        }
      }
    }
  }
}
