@import '../../../styles/variables.scss';

.btn--burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: $base * 6;        // 30 px
  height: $base * 6;       // 30 px
  border: none;
  border-radius: 0;
  padding: 4px 0;
  background-color: transparent;
  color: $c-primary;

  & > span {
    width: 100%;
    height: 4px;
    background-color: $c-primary;
    transition: all .15s ease-in-out;
  }

  &:hover > span {
    background-color: $c-success;
  }

  &:active > span {
    background-color: $c-secondary;
  }
}