@import '../styles/variables.scss';

.cases {

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: .04em;
  }

  &__list {
    list-style: none;
    padding: 0;

    & > * + * {
      margin-top: $base * 6;  // 30 px
    }
  }
}
