@use "sass:map";
@import './variables.scss';

// ===== SPACERS ===== //
$spacer-value: $base-value;  // numeric value of spsacer
$spacer: $base;              // 1 unit of size (5px, based on '$base' var)
// generate map for bootstrap spacing classes
@function create_spacers_map($value) {
  $map: ();
  // set values to map from 0 to max
  @for $i from 0 to 80 {
    // setting value in format (
    //   5: $spacer * 1;
    //   10: $spacer * 2;
    //   ...
    // )
    $map: map.set($map, $value * $i, $spacer * $i);
  };

  @return $map;
}
// add values in bootstrap spacing map
$spacers: create_spacers_map($base-value);
// ===== / ===== //

// ===== GRID ===== //
$grid-gutter-width: $base * 6 !default;   // bootstrap columns' gap size (30 px)
// values of media queries
$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 576px,
  lg: 768px,
  xl: 992px,
  xxl: 1150px
);
// ===== / ===== //

// ===== CONTAINERS ===== //
// widths of container for every screen size
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1150px
);
$container-padding-x: 2.5rem;
// ===== / ===== //

$body-color: $c-primary;
$font-family-base: 'Montserrat', sans-serif;

// ===== HEADINGS ===== //
$headings-font-weight: 600;
// ===== / ===== //

// ===== FLOATING INPUTS & LABELS ===== //
// ----- Label ----- //
$form-floating-label-opacity: 1;
$form-floating-label-transform: scale(.695) translateY(-.5rem) translateX(.9rem);

@media screen and (max-width: 575px) {
  $form-floating-label-transform: scale(1.3) translateY(-.5rem) translateX(.9rem);
}
// ----- Input ----- //
$form-floating-line-height: 1.2;
$form-floating-input-padding-b: 0;
// ===== / ===== //

// ===== CHECKBOXES ===== //
// ----- Default ----- //
$form-check-input-width: 1.25em;
$form-check-input-border: 1px solid $c-secondary;
$form-check-input-border-radius: 0;
// ----- Focus ----- //
$form-check-input-focus-border: $c-primary;
$form-check-input-focus-box-shadow: none;
// ----- Checked ----- //
$form-check-input-checked-border-color: $c-primary;
$form-check-input-checked-bg-color: white;
$form-check-input-checked-bg-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.77794 15.4444L3.3335 11L4.88905 9.44444L7.77794 12.3333L15.1113 5L16.6668 6.55556L7.77794 15.4444Z' fill='black'/%3E%3C/svg%3E%0A");
// ===== / ===== //

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// ===== GOOGLE RECAPTCHA ===== //
.grecaptcha-badge {
  visibility: hidden;
}
// ===== / ===== //

// ===== ANCHORS ===== //
.anchor {
  display: block;
  position: relative;
  // header height + 30 px
  top: calc(($header-height + ($base * 6)) * -1);
  visibility: hidden;

  @media screen and (max-width: 767px) {
    // header height + 10 px
    top: calc(($header-height + ($base * 2)) * -1);
  }
}
// ===== / ===== //

// ===== BUTTONS ===== //
.btn {
  @include button-size(
    0,                        // padding-y
    0,                        // padding-x
    1rem,                     // font-size
    0                         // border-radius
  );

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.454;
  letter-spacing: .07em;
  background-color: transparent;

  &-primary,
  &-secondary {
    width: $base * 57;     // 285 px
    height: $base * 16;    // 80 px
    font-weight: 500;
    padding: 0 $base * 3; // 0 - 15 px
  }

  &-primary {
    @include button-variant(
      white,               // backgorund
      $c-primary,            // border-color
      $c-primary,            // color
      $c-success,            // hover - background
      $c-success,            // hover - border-color
      white,               // hover - color
      white,               // active - background
      $c-success,            // active - border-color
      $c-success,            // active - color
      white,               // disable - backgorund
      rgba($c-primary, .3),  // disable - border-color
      rgba($c-primary, .3)   // disable - color
    );
  }

  &-secondary {
    @include button-variant(
      white,               // backgorund
      $c-primary,            // border-color
      $c-primary,            // color
      white,               // hover - background
      $c-success,            // hover - border-color
      $c-success,            // hover - color
      $c-success,            // active - background
      $c-success,            // active - border-color
      white,               // active - color
      white,               // disable - backgorund
      rgba($c-primary, .3),  // disable - border-color
      rgba($c-primary, .3)   // disable - color
    );
  }

  &-colored {
    @extend .btn-primary;
  }

  &-small {
    @include button-variant(
      transparent,           // backgorund
      transparent,           // border-color
      $c-primary,            // color
      transparent,           // hover - background
      transparent,           // hover - border-color
      $c-primary,            // hover - color
      transparent,           // active - background
      transparent,           // active - border-color
      $c-secondary,          // active - color
      transparent,           // disable - backgorund
      rgba($c-primary, .3),  // disable - border-color
      rgba($c-primary, .3)   // disable - color
    );

    width: fit-content;
    height: $base * 8 ;      // 40 px
    border: none;
    font-weight: 400;
    line-height: 1;

    .btn__icon > path {
      transition: all .15s ease-in-out;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active > .btn__icon > path {
      stroke: $c-secondary;
      text-decoration: none;
    }
  }

  &-small-back,
  &-small-up {
    @extend .btn-small;
  }
}
// ----- Burger Button ----- //
@import '../components/PTNav/BurgerBtn/BurgerBtn.scss';
// ===== / ===== //

// ===== INPUTS ===== //
// ----- Input Text ----- //
@import '../components/PTInputText/PTInputText.scss';
// ----- Textarea ----- //
@import '../components/PTTextarea/PTTextarea.scss';
// ----- Input File ----- //
@import '../components/PTInputFile/PTInputFile.scss';
// checkbox is styling by bootstrap variables above
// ===== / ===== //

// ===== MODALS ===== //
// ----- Submit Modal ----- //
@import '../components/ModalSubmit/ModalSubmit.scss';
// ----- Video Modal ----- //
@import '../components/ModalVideo/ModalVideo.scss';
// ===== / ===== //

// ===== TABS ===== //
@import './tabs.scss';
// ===== / ===== //

// ===== COMMON STYLES ===== //
html {
  height: -webkit-fill-available;
  height: -moz-available;
}

body {
  min-height: 100vh;
  // mobile viewport bug fix
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  // rules that allows to make bottom-fixed footer for every height of content
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding-top: $header-height;

  @media screen and (max-width: 767px) {
    padding-top: calc($header-height - $base * 6);  // 100 - 30 = 70 px
  }
}

a {
  color: inherit;
  text-decoration: none;
}
// ===== / ===== //
