@import './variables.scss';

.btn_back {
  margin-bottom: $base * 20;  // 100 px
  // margin-left: auto;
}

.btn_top {
  margin-bottom: $base * 10;  // 50 px
}

.legal {

  &__title {
    margin-bottom: $base * 6;   // 30 px
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: .04em;
  }

  &__content {
    padding-left: 0;
    margin-bottom: $base * 20;     // 100 px
    list-style-type: none;

    .content__item {
      width: fit-content;
      padding-left: $base * 2;        // 10 px
      line-height: 1.454;
      letter-spacing: .07em;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        display: inline-block;
        content: '•';
        width: 1rem;
      }

      & + & {
        margin-top: $base * 3;        // 15 px
      }
    }

    .content__link {

      &:hover {
        color: $fc-primary;
      }
    }
  }

  &__doc {
    position: relative;
    line-height: 1.25;
    letter-spacing: .07em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // flex-direction: column;

    .doc__title {
      margin-bottom: $base * 3;     // 15 px
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.2;
      letter-spacing: .045em;
    }

    .doc__text {
      width: 100%;
      margin-bottom: $base * 14;

      & > ul {
        padding-left: 1.5rem;

        & > li {
          position: relative;
          list-style-type: none;

          &:before {
            content: '•';
            position: absolute;
            left: -1rem;
          }
        }
      }
    }
  }
}
