@import './variables.scss';

.services {

  &__title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: .04em;
  }

  &__text {
    width: 100%;
    max-width: $base * 184;   // 920 px

    .text__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.4;
    }

    .text__list {
      margin-bottom: 0;
      list-style: none;
      padding-left: 38px;

      .list__item {
        position: relative;
        font-weight: 500;
        line-height: 2.15;

        &:before {
          content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.364 15.193L19.556 6L20.971 7.414L10.364 18.021L4 11.657L5.414 10.243L10.364 15.193Z' fill='black'/%3E%3C/svg%3E");
          position: absolute;
          top: 4px;
          left: -38px;
        }
      }

      .list__item + .list__item {
        margin-top: 3px;
      }
    }
  }

  &__variants {

    .variants__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.05;
    }

    .variants__list {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;

      .list__item {
        margin-bottom: $base * 6;   // 30 px
      }

      .item {

        &__inner {
          display: flex;
          flex-direction: column;
          min-width: $base * 50;        // 250 px
          height: 100%;
          min-height: $base * 100;      // 500 px
          border: 1px solid $c-primary;
          padding: $base * 4;           // 20 px
          padding-top: $base * 3;       // 15 px
        }

        &__title {
          min-height: $base * 12;       // 60 px
          margin-bottom: $base * 5;     // 25 px
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: .045em;
          text-align: center;
        }

        &__description {
          font-weight: 500;
          line-height: 1.3125;
          margin-bottom: $base * 6;   // 30 px
        }

        &__btn {
          width: 100%;
          max-width: $base * 62;      // 310 px
          margin: auto auto 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .services__variants {

    .variants__list {

      .item__title {
        min-height: $base * 10;    // 50 px
        margin-bottom: $base * 4;  // 20 px
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .services__variants {

    .variants__list {

      .item__inner {
        min-height: 0;
      }
    }
  }
}