$base: 5px;

$header-height: $base * 20;   // 100 px
$logo-width: $base * 30;

$fc-primary: #333333;
$fc-secondary: #828282;
$fc-gray: #4f4f4f;
$fc-light-gray: #aaaaaa;
$fc-link: #6284ff;
$light-gray: #bdbdbd;
$turquoise: #30d5c8;
$danger: #d53030;